vrrp_instance VI_1 {
        interface {{vip_interface}}
        state {{ vip_state }}
        virtual_router_id 91
        priority 100
        advert_int 1

        unicast_src_ip {{ansible_default_ipv4.address}}   # Unicast specific option, this is the IP of the interface keepalived listens on
        unicast_peer {                 # Unicast specific option, this is the IP of the peer instance
              {{ peerip }} 
        }

         virtual_ipaddress {     # The VIP that keepalived will monitor
              {{ vip }}  
         }     


}
