{
    "bootstrap": {{consul_bootstrap}},
    "server": {{consul_server}},
    "datacenter": "{{consul_datacenter}}",
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "{{ consul_log_level}}",
    "enable_syslog": {{ consul_enable_syslog }},
    "start_join": ["{{consul_server1","consul_server2"]
}
