{
    "server": {{ consul_server|lower }},
    "datacenter": "{{consul_datacenter}}",
    "data_dir": "{{ consul_data_dir }}",
{% if consul_ui == true %} "ui_dir" : " {{consul_ui_dir}}", {% endif %}
    "log_level": "{{ consul_log_level}}",
    "enable_syslog": {{ consul_enable_syslog | lower }},
    "start_join": ["{{consul_bootstrap_primary}}","{{ansible_default_ipv4.address}}"],
    "advertise_addr": "{{ansible_default_ipv4.address}}",
    "bind_addr" : "{{ansible_default_ipv4.address}}",
    "client_addr" : "{{ansible_default_ipv4.address}}"
}
